@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input{
    @apply mb-3 bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.custom-label{
   @apply block mb-2 font-medium text-gray-900 dark:text-gray-300
}

.custom-button{
    @apply m-1 capitalize text-white focus:ring-4 focus:ring-black font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-white
}

.custom-blue-button{
    @apply m-1 capitalize text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm sm:m-auto w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.nav-link{
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700
}